/* --------------------------------------
*  Theme Special
* ---------------------------------------*/
@media (max-width: 1700px){
	.thsn-element-service-style-3.themesion-element-viewtype-carousel .thsn-tbox-left{
		padding-left: 70px;
	}
}
@media (max-width: 1300px){
	.thsn-header-style-5 .thsn-menu-topbararea .thsn-pre-header-wrapper .thsn-pre-header-left a{
		display: none;
	}
	.thsn-header-style-5 .thsn-right-box .thsn-header-social-wrapper li{
		margin: 0px 5px;
	}
	.thsn-header-style-5 .thsn-navbar div > ul > li > a{
		margin: 0 18px;
	}
	.thsn-header-style-6 .site-branding {
		margin-right: 25px;
	}
}
/* --------------------------------------
*  End Theme Special 
* ---------------------------------------*/
@media (max-width: 1200px){
	#page.site {
		overflow: hidden;
	}
	.container {
		max-width: none;
	}
	/* --------------------------------------
	*  Theme Special
	* ---------------------------------------*/
	/* thsn-element-service-style-3 */
	.thsn-element-service-style-3.themesion-element-viewtype-carousel .row{
		display: block;
		margin: 0;
	}
	.thsn-element-service-style-3.themesion-element-viewtype-carousel .row .thsn-column{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.thsn-element-service-style-3.themesion-element-viewtype-carousel .thsn-tbox-right .thsn-stretched-div-right{
		left: 0px;
	}
	.thsn-element-service-style-3.themesion-element-viewtype-carousel .thsn-tbox-left{
		padding-left: 15px;
		padding-right: 15px;
	}
	.thsn-element-service-style-3.themesion-element-viewtype-carousel .thsn-tbox-right .thsn-row-parent {
		padding-left: 15px;
		padding-right: 15px;
		margin-right: 0px;
	}
	/*=== .thsn-team-1-carousel-area ===*/
	.thsn-team-1-carousel-area{
		margin-right: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
	.themesion-element-viewtype-carousel .container .thsn-carousel-navs{
		right: 0;
	}
	/*=== thsn-tabs ===*/
	.thsn-tabs .thsn-tab-content-wrapper{
		margin-top: 0;
		margin-bottom: 0;
	}
	.thsn-tabs .thsn-tabs-heading li{
		width: 150px;
	}
	.thsn-tabs-heading,
	.thsn-tabs .thsn-tabs-heading li.thsn-tab-li-active::after{
		display: none;
	}
	.thsn-tab-content .thsn-tab-content-title{
		display: block;
		background-color: transparent;
		padding: 10px 20px;
		margin-bottom: 10px;
		border-radius: 5px;
		border: 1px solid #e6e6e6;
	}
	.thsn-tab-content{
		display: block;
	}
	.thsn-tab-content .thsn-tab-content-inner{
		display: none;
	}
	.thsn-tab-content.thsn-tab-active .thsn-tab-content-inner {
		display: block;
	}
	.thsn-tabs .thsn-tab-content-wrapper{
		padding: 0 15px;
	}
	.thsn-tab-content-title.thsn-tab-li-active + .thsn-tab-content-inner{
		display: block;
	}
	.thsn-tab-content .thsn-tab-content-title i,
	.thsn-tab-content .thsn-tab-svg-icon img{
		margin-right: 10px;
	}
	.thsn-tab-content .thsn-tab-svg-icon {
		display: inline-block;
	}
	.thsn-tabs .thsn-tab-svg-icon img{
		height: 25px;
		margin-bottom: 0px;
	}
	.thsn-tab-content.thsn-tab-active:not(:last-child){
		margin-bottom: 10px;
	}
	.thsn-tab-content-title.thsn-tab-li-active i,
	.thsn-tab-content-title.thsn-tab-li-active{
		color: #fff;
	}
	.thsn-footer-boxes {
		padding: 35px 5px;
		display: inline-block;
	}
}
@media only screen and (min-width: 991px) and (max-width: 1450px){
	/* --------------------------------------
	*  Theme Special
	* ---------------------------------------*/
	.thsn-team-style-3 .themesion-box-content{
		padding: 20px;
	}
	.thsn-team-style-3 .themesion-box-social-links {
		position: absolute;
		top: -16px;
		right: 10px;
	}
}
@media only screen and (min-width: 766px) and (max-width: 820px){
	/* --------------------------------------
	* Theme Special
	* ---------------------------------------*/
	.thsn-team-style-3 .themesion-box-content{
		padding: 20px;
	}
	.thsn-team-style-3 .themesion-box-social-links {
		position: absolute;
		top: -16px;
		right: 10px;
	}
	.thsn-team-style-3 .themesion-box-content .thsn-team-title {
		font-size: 22px;
		line-height: 26px;
	}
}
@media (max-width: 1024px){
	body.thsn-sidebar-no.elementor-page #content {
		padding-right: 0;
		padding-left: 0;
	}
	body .elementor-12822 .elementor-element.elementor-element-7cf33dc{
		padding-bottom: 100px;
	}
	/*=== thsn-team-single ===*/
	.thsn-portfolio-single,
	.thsn-team-single{
		margin: 0 15px;
	}
	.thsn-heading-subheading .thsn-element-title br{
		display: none;
	}
	/* --------------------------------------
	*  Theme Special - Elementor
	* ---------------------------------------*/
	.thsn-col-stretched-right.thsn-right-bg-50 .thsn-stretched-div{
		display: none;
	}
	.thsn-vertical-text .elementor-heading-title{
		transform: none;
		white-space:  unset;
		display: inline-block;
		left: 0;
		position: static;
		transform-origin: unset;
		bottom: 0;
	}
	.thsn-ihbox-style-2-main .elementor-column-gap-default{
		margin: 0;
	}
	.elementor-12263 .elementor-element.elementor-element-23b9ecba {
		width: 100%;
	}
	.elementor-12263 .elementor-element.elementor-element-28c0f7b7 {
		width: 100%;
	}
	/*=== thsn-element-blog-style-1 ===*/
	.thsn-footer-big-area .container .row,
	.thsn-element-blog-style-1 .post-item.row{
		display: block;
	}
	.thsn-footer-big-area .container .row .col-md-8,
	.thsn-footer-big-area .container .row .col-md-4,
	.thsn-element-blog-style-1 .post-item.row .col-sm-6{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.thsn-footer-social-area ul,
	.thsn-footer-big-area .container .row .col-md-8{
		text-align: center;
	}
	.thsn-footer-social-area {
		padding-top: 0;
		padding-bottom: 20px;
	}
	/*=== thsn-responsive-imge-1 ===*/
	.thsn-responsive-imge-1 img{
		width: 100%;
	}
	.thsn-responsive-imge-1.elementor-element.elementor-widget-image{
		margin-bottom: 5px !important;
	}
	/*=== thsn-service-style-3 ===*/
	.thsn-service-style-3 .themesion-post-item {
		margin: 10px;
	}
	/*=== thsn-empty-div-height-1024 ===*/
	.thsn-empty-div-height-1024 > div{
		padding-top: 200px;
		padding-bottom: 200px;
	}
	/*=== thsn-pricing-table-box ===*/
	.thsn-pricing-table-box {
		padding: 40px 15px 30px 15px;
	}
	.thsn-pricing-table-box .themesion-ptable-heading,
	.thsn-pricing-table-box .thsn-ptable-btn,
	.thsn-pricing-table-box .thsn-ptable-lines-w,
	.thsn-pricing-table-box .thsn-ptable-icon{
		padding-left: 0px;
	}
	/*=== thsn-ihbox-style-2-main ===*/
	.thsn-ihbox-style-2-main .elementor-column-gap-default{
		padding: 0;
	}
	.thsn-vertical-icon.elementor-view-stacked{
		right: 50%;
	}
	/*=== thsn-ihbox-style-8 ===*/
	.thsn-ihbox-style-8{
		width: 385px;
		height: 335px;
		padding: 170px 40px 50px 120px;
	}
	/*=== thsn-element-testimonial-style-2 ===*/
	.thsn-element-testimonial-style-2.themesion-element-viewtype-carousel .owl-carousel .owl-dots {
		bottom: -60px;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	/*=== thsn-element-testimonial-style-3 ===*/
	.thsn-col-Quotes.thsn-col-stretched-yes .thsn-stretched-div::after{
		font-size: 80px;
		line-height: 80px;
	}
	.thsn-element-testimonial-style-3 .themesion-post-item::before{
		width: 60%;
	}
	/*=== thsn-footer-section ===*/
	.thsn-footer-big-area-wrapper .thsn-footer-boxes::before{
		display: none;
	}
	.thsn-footer-big-area-wrapper .thsn-footer-contact-info{
		padding-left: 0;
	}
	/*=== thsn-portfolio-style-2 ===*/
	.thsn-portfolio-style-2 .thsn-content-wrapper {
		width: calc(100% - 40px);
		margin: 0 20px;
		padding: 15px 15px;
	}
	.thsn-portfolio-style-2 .thsn-link-icon{
		display: none;
	}
	/*=== thsn-blog-style-1 ===*/
	.thsn-blog-style-1 .themesion-box-content {
		padding: 20px 20px 10px 20px;
		box-shadow: 0px 0px 15px 0px rgba(27, 68, 163, 0.07);
	}
	/*=== thsn-ihbox-style-3 ===*/
	.thsn-ihbox-style-3 .d-flex{
		display: block !important;
	}
	.thsn-ihbox-style-3 .thsn-ihbox-contents{
		margin-top: 20px;
	}
	/*=== thsn-ihbox-process ===*/
	.thsn-ihbox-process .elementor-row > .elementor-column .thsn-ihbox-style-15::after{
		display: none;
	}
}
@media (max-width: 991px){
	/*=== widget-area ===*/
	.widget-area.col-md-3{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	body.thsn-sidebar-no #content{
		padding-top: 80px;
	}
	body.single.thsn-sidebar-no #content{
		padding-bottom: 30px;
	}
	/*=== thsn-tbar ===*/
	.thsn-tbar-title{
		font-size: 36px;
		line-height: 42px;
	}
	.thsn-header-style-2 .thsn-title-bar-content,
	.thsn-header-style-2 .thsn-title-bar-wrapper{
		min-height: 320px
	}
	.thsn-header-style-3 .thsn-title-bar-content,
	.thsn-header-style-3 .thsn-title-bar-wrapper{
		min-height: 370px;
	}
	.thsn-header-style-4 .thsn-title-bar-content,
	.thsn-header-style-4 .thsn-title-bar-wrapper{
		min-height: 300px;
	}
	/*=== thsn-footer-section ===*/
	.blog.thsn-sidebar-exists .site-footer.thsn-footer-3-boxes-exists,
	.single-thsn-team-member .thsn-footer-3-boxes-exists.thsn-footer-section,
	.thsn-sidebar-exists.single-thsn-service .thsn-footer-3-boxes-exists.thsn-footer-section{
		margin-top: 0;
	}
	/*=== Footer custom width ===*/
	.site-content > .row{
		display: block;
	}
	#secondary.widget-area,
	#primary.content-area{
		display: block;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.content-area.col-md-9 {
		padding-bottom: 0px;
	}
	/*=== thsn-overflow-visible-991 ===*/
	.thsn-sortable-list-ul {
		text-align: left;
		margin-bottom: 30px;
	}
	/* --------------------------------------
	*  Theme Special
	* ---------------------------------------*/
	.themesion-element-viewtype-carousel .container .thsn-carousel-navs{
		position: relative;
		margin-bottom: 30px;
	}
	/*=== thsn-team-single ===*/
	.thsn-team-single-style-1 .thsn-team-summary{
		margin-left: 0; 
		transform: translateX(0%);
	}
	.thsn-team-single-style-1 .thsn-team-details-wrap{
		padding: 30px;
	}
	.thsn-team-single .thsn-team-single-inner > .row{
		display: block;
	}
	.thsn-team-single .thsn-team-single-inner .thsn-team-left-inner{
		margin-right: 0px;
	}
	.thsn-team-single .thsn-team-single-inner .thsn-team-left-inner img{
		width: 100%;
	}
	.thsn-team-single .thsn-team-single-inner > .row .col-md-5,
	.thsn-team-single .thsn-team-single-inner > .row .col-md-7{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.thsn-team-single .thsn-team-single-inner > .row .col-md-7{
		margin-top: 50px;
	}
	/*=== thsn-vertical-icon ===*/
	.thsn-vertical-icon.elementor-view-stacked{
		display: none;
	}
	/*=== thsn-ihbox-style-8 ===*/
	.thsn-ihbox-style-8{
		padding: 190px 40px 40px 130px;
	}
	.thsn-ihbox-style-8::before {
		top: 85px;
		width: 480px;
		height: 480px;
	}
	.thsn-ihbox-style-8::after {
		left: 40px;
		top: 130px;
		width: 400px;
		height: 400px;
	}
	.thsn-ihbox-style-8 .thsn-element-title{
		font-size: 24px;
		line-height: 30px;
	}
	/*=== thsn-element-testimonial-style-3 ===*/
	.thsn-element-testimonial-style-3 .themesion-post-item::before{
		width: 46%;
	}
	.thsn-testimonial-style-3 blockquote{
		font-size: 28px;
		line-height: 38px;
	}
	/*=== thsn-testimonial-style-2 ===*/
	.thsn-testimonial-style-2 .themesion-box-img{
		margin-bottom: 30px;
	}
	.thsn-testimonial-style-2 .thsn-featured-wrapper::before {
		left: -4px;
	}
	/*=== themesion-ele-ptable-style-1 ===*/
	.thsn-pricing-table-box .thsn-pricing-table-wrap{
		padding: 20px 20px;
	}
	/*=== thsn-service-style-2 ===*/
	.thsn-service-style-2 .themesion-box-content {
		margin: 0 10px;
		padding: 20px 10px;
	}
	.thsn-service-style-2 .thsn-service-icon-wrapper {
		font-size: 30px;
		line-height: 50px;
		margin-right: 10px;
	}
	.thsn-service-style-2 .thsn-service-title {
		font-size: 18px;
		line-height: normal;
		margin-bottom: 0;
	}
	/*=== thsn-service-style-2 ===*/
	.thsn-play-btn-1024{
		display: none;
	}
	/* thsn-element-testimonial-style-1 */
	.thsn-element-testimonial-style-1 .themesion-element-inner > .row{
		display: block;
	}
	.thsn-element-testimonial-style-1 .themesion-element-inner > .row .thsn-tbox-left,
	.thsn-element-testimonial-style-1 .themesion-element-inner > .row .thsn-tbox-right{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	/*=== thsn-service-style-3 ===*/
	.thsn-element-service-style-3.themesion-element-viewtype-carousel .thsn-tbox-left{
		padding: 80px 15px 50px 15px;
	}
	.thsn-element-service-style-3.themesion-element-viewtype-carousel .thsn-tbox-right {
		padding: 50px 0px 80px 0px;
	}
	/*=== thsn-element-testimonial-style-1 ===*/
	.thsn-footer-section.thsn-footer-big-area-wrapper{
		top: 0px;
	}
	.footer-wrap.thsn-footer-big-area .row{
		border-radius: 0;
	}
	.footer-wrap.thsn-footer-big-area > .container{
		padding: 0;
	}
	.thsn-ihbox-style-right .thsn-ihbox-style-12{
		display: inherit;
	}
	/*=== thsn-blog-classic ===*/
	.thsn-blog-classic .thsn-blog-classic-inner{
		margin-right: 0;
	}
	/*=== comments-area ===*/
	.comments-area {
		margin-right: 0;
	}
	/*=== elementor-button-size-xl ===*/
	.elementor-button.elementor-size-xl {
		padding: 24px 40px;
	}
	/*=== thsn-ihbox-style-17 ===*/
	.thsn-ihbox-style-17 .thsn-ihbox-icon-wrapper{
		font-size: 40px;
		width: 80px;
		line-height: 80px;
		margin-right: 15px;
	}
	.thsn-ihbox-style-17 .thsn-element-heading {
		font-size: 14px;
		line-height: 20px;
	}
	.thsn-ihbox-style-17 .thsn-element-title {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 0px;
	}
}
@media (max-width: 767px){
	/*=== widget-area ===*/
	.content-area.col-md-9{
		padding-top: 60px;
	}
	body.thsn-sidebar-no #content{
		padding-top: 60px;
	}
	body.single.thsn-sidebar-no #content{
		padding-bottom: 20px;
	}
	/*=== thsn-tbar ===*/
	.thsn-header-style-2 .thsn-title-bar-content,
	.thsn-header-style-2 .thsn-title-bar-wrapper{
		min-height: 200px
	}
	.thsn-tbar-title{
		font-size: 26px;
		line-height: 32px;
	}
	/*=== thsn-blog-detail ===*/
	.gallery-columns-2 .gallery-item{
		padding: 0;
		padding-bottom: 15px;
		display: block;
		max-width: 100%;
	}
	.thsn-blog-classic blockquote{
		padding-left: 20px;
		padding: 50px 20px;
	}
	.thsn-blog-classic blockquote::after{
		left: 20px;
	}
	/*=== thsn-heading-subheading ===*/
	.thsn-heading-subheading .thsn-element-title{
		font-size: 32px;
		line-height: 42px;
	}
	/*=== thsn-ourhistory-left ===*/
	.thsn-ourhistory-left .label{
		display: none;
	}
	.thsn-ourhistory .thsn-ourhistory-right .label{
		display: block;
	}
	.thsn-ourhistory .thsn-ourhistory-right {
		padding-left: 50px;
	}
	/*===* thsn-blog-meta-bottom ===*/
	.thsn-blog-meta-bottom .thsn-blog-meta-bottom-right{
		margin-top: 15px;
	}
	/*=== thsn-footer-text-area ===*/
	.thsn-footer-text-area .row{
		display: block;
	}
	.thsn-footer-text-area .row .col-md-6{
		width: 100%;
		text-align: center;
	}
	.thsn-footer-text-area .thsn-social-links,
	.thsn-footer-menu-area {
		text-align: center;
	}
	.thsn-footer-text-area .thsn-social-links{
		padding: 0;
		margin-top: 25px;
	}
	.thsn-footer-menu-yes .thsn-footer-copyright-text-area{
		margin-top: 0px;
		text-align: center;
	}
	.thsn-footer-text-area {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	body .thsn-bgimage-position-right-center-767 {
		background-position: right center !important;
	}
	/*=== Post navigation break ===*/
	.post-navigation .nav-links{
		display: block;
	}
	.post-navigation .nav-links .nav-next {
		margin-top: 15px;
	}
	.thsn-portfolio-single .nav-links .nav-next .thsn-portfolio-nav-wrapper{
		margin-left:  unset;
	}
	.thsn-portfolio-single .nav-links .nav-next .thsn-portfolio-nav-wrapper {
		text-align: left;
	}
	.post-navigation .nav-links .nav-next {
		margin-top: 0;
	}
	/* --------------------------------------
	*  Theme Special
	* ---------------------------------------*/
	.themesion-element-client.themesion-element-viewtype-row-column[data-columns="4"] .thsn-ele-client{
		width: 50%;
	}
	/*=== thsn-empty-div-height-1024 ===*/
	.thsn-empty-div-height-767 > div{
		padding-top: 200px;
		padding-bottom: 200px;
	}
	/*=== thsn-single-project-details-list ===*/
	.thsn-portfolio-lines-wrapper ul{
		display: block;
	}
	/*=== thsn-ihbox-style-2 ===*/
	.thsn-ihbox-style-2::after{
		display: none;
	}
	/*=== thsn-team-single-style-1 ===*/
	.thsn-team-single-style-1 .thsn-team-summary{
		padding: 30px 20%;
	}
	/*=== thsn-footer-big-area-wrapper ===*/
	.thsn-footer-big-area-wrapper .thsn-footer-contact-info{
		padding-left: 0;
	}
	.thsn-footer-big-area-wrapper .thsn-footer-boxes::after{
		display: none;
	}
	.thsn-footer-boxes {
		padding-top: 15px;
		padding-bottom: 20px;
	}
	.thsn-footer-boxes:first-child {
		padding-top: 40px;
	}
	.thsn-footer-boxes:last-child {
		padding-bottom: 40px;
	}
	.thsn-footer-copyright-text-area{
		text-align: center;
		margin-bottom: 25px;
	}
	.thsn-footer-big-area-wrapper .thsn-footer-boxes::before{
		display: none;
	}
	.thsn-contact-social-area ul, .thsn-footer-social-area ul{
		padding: 0 0 30px 10px;
	}
	/*=== thsn-vertical-sep ===*/
	.thsn-vertical-sep.elementor-inner-column{
		border: 0;
	}
	.thsn-vertical-sep.elementor-inner-column::after,
	.thsn-vertical-sep.elementor-inner-column::before{
		display: none;
	}
	/*=== thsn-testimonial-style-1 ===*/
	.thsn-testimonial-style-1{
		padding-bottom: 0;
	}
	.thsn-element-testimonial-style-1.themesion-element-viewtype-carousel .thsn-carousel-navs{
		display: none;
	}
	.thsn-testimonial-style-1 .themesion-box-desc{
		margin-left: 0;
	}
	.thsn-testimonial-style-1 .themesion-box-img {
		margin-bottom: 30px;
	}
	.thsn-testimonial-style-1 .themesion-box-desc::before{
		top: -12px;
		left: 44%;
		transform: translateY(-60%);
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 20px solid white;
	}
	/*=== thsn-testimonial-style-2 ===*/
	.thsn-element-testimonial-style-2.themesion-element-viewtype-carousel .owl-carousel .owl-dots{
		display: none;
	}
	.thsn-element-testimonial-style-2.themesion-element-viewtype-carousel .thsn-testimonial-style-2{
		padding-right: 0;
	}
	/*=== thsn-testimonial-style-3 ===*/
	.thsn-col-Quotes.thsn-col-stretched-yes .thsn-stretched-div::after,
	.thsn-element-testimonial-style-3.themesion-element-viewtype-carousel .owl-carousel .owl-dots,
	.thsn-element-testimonial-style-3.themesion-element-viewtype-carousel .owl-carousel .owl-nav{
		display: none;
	}
	.thsn-element-testimonial-style-3 .themesion-post-item::before {
		width: 71%;
	}
	/*=== thsn-service-style-2 ===*/
	.thsn-service-style-2 .themesion-box-content .themesion-box-content-inner{
		border: 0;
	}
	.thsn-service-style-2 .themesion-box-content .themesion-box-content-inner::before,
	.thsn-service-style-2 .themesion-box-content .themesion-box-content-inner::after{
		display: none;
	}
	.elementor-widget-tabs .elementor-tab-mobile-title{
		margin-bottom: 0;
	}
	/*=== thsn-service-style-3 ===*/
	.thsn-element-service-style-3.themesion-element-viewtype-carousel .thsn-tbox-left{
		padding: 60px 15px 40px 15px;
	}
	.thsn-element-service-style-3.themesion-element-viewtype-carousel .thsn-tbox-right {
		padding: 40px 0px 60px 0px;
	}
	/*=== thsn-timeline ===*/
	.thsn-timeline{
		margin: 0 15px;
	}
	.thsn-ourhistory h4{
		font-size: 26px;
	}
	.thsn-footer-text-area .col-md-6 .thsn-footer-logo{
		text-align: center;
	}
	/*=== thsn-element-client-style-1 ===*/
	.themesion-element-client.themesion-element-viewtype-row-column[data-columns="5"] .thsn-ele-client{
		width: 50%;
	}
	/*=== themesion-ele-ptable-style-1 ===*/
	.themesion-ele-ptable-style-1 .thsn-ptable-col{
		margin-bottom: 30px;
	}
	/*=== thsn-element-testimonial-style-2 ===*/
	.thsn-element-testimonial-style-2 .thsn-carousel-navs{
		position: relative;
		margin-bottom: 30px;
	}
	/*=== thsn-element-team-style-1 ===*/
	.thsn-element-team-style-1 .thsn-team-1-inner .thsn-element-posts-wrapper{
		display: block;
	}
	.thsn-team-style-1 .thsn-featured-wrapper img{
		width: 100%;
	}
	/*=== thsn-ihbox-process ===*/
	.thsn-ihbox-process > .elementor-container{
		margin-right: 0px;
	}
	.thsn-ihbox-process > .elementor-container > .elementor-row {
		margin-left: 0px;
	}
	.thsn-ihbox-style-15 {
		padding-right: 15px;
		padding-left: 15px;
		display: block;
	}
	.thsn-ihbox-process .elementor-row > .elementor-column:nth-of-type(even) .thsn-ihbox-style-15 .thsn-ihbox-box::before,
	.thsn-ihbox-process .elementor-row > .elementor-column:nth-of-type(odd) .thsn-ihbox-style-15 .thsn-ihbox-box::before{
		display: none;
	}
	.thsn-ihbox-process .elementor-row > .elementor-column:nth-of-type(odd) .thsn-ihbox-style-15 .thsn-ihbox-box-number{
		top: -60px;
		bottom: auto;
	}
	.thsn-ihbox-process .elementor-row > .elementor-column:nth-of-type(even) .thsn-ihbox-style-15 .thsn-ihbox-box {
		margin-top: 0px;
	}
	.thsn-ihbox-style-15 .thsn-ihbox-box-number {
		right: 20px;
		left: auto;
		bottom: auto !important;
		top: 20px !important;
	}
	/*=== thsn-blog-classic ===*/
	.thsn-blog-classic .thsn-blog-classic-inner {
		padding: 30px 30px 30px;
	}
	/*=== error404 ===*/
	.error404 h2.page-title{
		font-size: 100px;
		line-height: 100px;
	}
	.error-404 {
		margin-left: 20px;
		margin-right: 20px;
		width: calc(100% - 40px);
	}
}
@media (max-width: 575px) {
	.thsn-blog-meta .thsn-meta-classic-right {
		padding-left: 0;
		text-align: left;
		display: inline-block;
	}
	.thsn-blog-meta.thsn-blog-meta-top .thsn-meta-classic-left {
		position: static;
		width: auto;
		display: inline-block;
	}
	.thsn-blog-meta.thsn-blog-meta-top .thsn-meta-classic-left .thsn-meta-date {
		padding: 6px 22px;
		margin-right: 10px;
	}
	.thsn-blog-meta.thsn-blog-meta-top{
		text-align: left;
	}
	.thsn-blog-meta.thsn-blog-meta-top .thsn-meta-classic-left .thsn-meta-date span span{
		display: inline-block;
	}
	.thsn-blog-meta.thsn-blog-meta-top .thsn-meta-classic-left .thsn-meta-date .entry-date{
		font-size: 16px;
		line-height: 26px;
	}
	.thsn-no-img .thsn-blog-meta.thsn-blog-meta-top,
	.thsn-default-view .thsn-blog-meta.thsn-blog-meta-top{
		display: block;
	}
	.thsn-no-img .thsn-blog-meta .thsn-meta-classic-right,
	.thsn-default-view .thsn-blog-meta .thsn-meta-classic-right{
		padding-left: 0;
		display: block;
		margin-bottom: 15px;
	}
	.comment-respond .comment-reply-title{
		font-size: 20px;
		line-height: 30px;
	}
	.comment-respond .comment-reply-title small{
		font-size: 13px;
		line-height: 13px;
	}
	.comment-list .comment-respond{
		padding-left: 0;
	}
	.comment-list .children {
		margin-left: 10px;
	}
	.thsn-comment-content{
		margin-left: 0px;
		margin-top: 25px;
	}
	.thsn-comment-avatar{
		float: none;
	}
	.thsn-comment-content::before, .thsn-comment-content::after {
		border-width: 0px 10px 10px 10px;
		border-color: transparent transparent #fff transparent;
	}
	.thsn-comment-content::after {
		border-width: 0px 12px 12px 12px;
		border-color: transparent transparent #e9e9e9 transparent;
	}
	.thsn-comment-content::before{
		top: -10px;
		left: 17px;
	}
	.thsn-comment-content::after{
		top: -13px;
		left: 15px;
	}
	.thsn-comment-form-input-wrapper{
		display: block;
	}
	.thsn-comment-form-input-wrapper .thsn-comment-form-input{
		flex: none;
		width: 100%;
		margin-left: 0px;
	}
	.thsn-author-box{
		display: block;
	}
	.thsn-author-content{
		margin-top: 20px;
	}
}
@media screen and (max-width: 1255px) {
	.thsn-contact-info li {
		padding: 0 10px 0 10px;
	}
	.thsn-pre-header-wrapper .thsn-social-links{
		padding: 0 10px;
	}
	.thsn-pre-header-wrapper .thsn-social-links li{
		margin-right: 10px;
	}
}
@media screen and (max-width: 1500px) {
	.thsn-header-style-6 .site-branding {
		margin-right: 60px;
	}
}
@media screen and (max-width: 1400px) {
	.thsn-header-style-5 .site-branding.thsn-logo-area {
		padding-left: 30px;
		padding-right: 30px;
	}
	.thsn-header-style-6 .site-branding {
		margin-right: 40px;
	}
}
@media screen and (max-width: 1350px) {
	.thsn-header-style-5 .thsn-navbar div > ul > li > a {
		margin: 0 15px;
	}
}
@media screen and (max-width: 1350px) {
	.thsn-header-style-6 .thsn-right-box ul.thsn-social-links,
	.thsn-header-style-5 .thsn-right-box .thsn-header-social-wrapper{
		display: none;
	}
	.thsn-header-style-6 .site-branding {
		margin-right: 20px;
	}
}
@media screen and (max-width: 1200px) {
	.thsn-header-style-5 .site-branding.thsn-logo-area {
		padding-left: 0;
		padding-right: 0;
	}
}
/*********************** Min start **********************************/
@media screen and (min-width: 768px) {
	.thsn-empty-sidebar #primary {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.col-md-20percent {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
	/*===.thsn-blog-meta-bottom===*/
	.thsn-blog-meta-bottom {
		padding: 20px 0;
		padding-bottom: 0;
		display: -ms-flexbox !important;
		display: flex !important;
		align-items: center;
	}
	.thsn-blog-meta-bottom .thsn-blog-meta-bottom-left {
		margin-right: auto!important;
		width: 50%;
		padding-right: 10px;
	}
	.thsn-blog-meta-bottom.thsn-blog-meta-no-social .thsn-blog-meta-bottom-left{
		width: 100%;
	}
}
@media screen and (min-width: 992px) {
	.thsn-sidebar-left #secondary,
	.thsn-sidebar-right #secondary{
		flex: 0 0 34%;
		max-width: 34%;
	}
	.thsn-sidebar-left #primary,
	.thsn-sidebar-right #primary{
		flex: 0 0 66%;
		max-width: 66%;
	}
}
@media screen and (min-width: 1025px) {
	/*=== thsn-service-style-3 ===*/
	.thsn-service-style-3 .themesion-post-item{
		border-left: 0;
	}
}
@media (min-width: 1200px){
	.elementor-section.elementor-section-boxed.elementor-element>.elementor-container, .container,
	.elementor-section.elementor-section-boxed>.elementor-container,
	.container {
		max-width: 1200px;
	}
}
@media (max-width: 1350px){
	.thsn-header-style-2 .thsn-header-button a::after{
		display: none;
	}
}
@media (min-width: 1200px){
	.thsn-header-style-2 .thsn-pre-header-wrapper > .container,
	.thsn-header-style-2 .thsn-header-wrapper > .container {
		margin: 0 40px;
	}
}
@media (min-width: 1200px){
	.thsn-header-style-2 .thsn-pre-header-wrapper > .container,
	.thsn-header-style-2 .thsn-header-wrapper > .container {
		margin: 0 15px;
	}
	.thsn-header-style-2 .site-branding {
		margin-right: 20px;
	}
	.thsn-header-style-2 .thsn-right-box .thsn-header-contactinfo .thsn-header-button-text-1 {
		font-size: 18px;
	}
	.thsn-header-style-2 .thsn-right-box .thsn-header-contactinfo .thsn-header-button-text-2 {
		font-size: 14px;
	}
	.thsn-header-style-2 .thsn-navbar div > ul > li > a {
		margin: 0 10px;
	}
	.thsn-header-style-2 .thsn-right-box .thsn-header-contactinfo {
		padding-left: 50px;
	}
	.thsn-header-style-2 .thsn-right-box .thsn-header-contactinfo::after {
		font-size: 40px;
		line-height: 40px;
	}
	.thsn-header-style-2 .thsn-header-button a {
		padding: 19px 15px;
	}
}
@media (min-width: 1350px){
	.thsn-header-style-2 .site-branding {
		margin-right: 40px;
	}
}
@media (min-width: 1350px){
	.thsn-header-style-2 .site-branding {
		margin-right: 60px;
	}
	.thsn-header-style-2 .thsn-header-button a {
		padding: 19px 20px;
	}
	.thsn-header-style-2 .thsn-navbar div > ul > li > a {
		margin: 0 12px;
	}
}
@media (min-width: 1350px){
	.thsn-header-style-2 .site-branding {
		margin-right: 60px;
	}
}
@media (min-width: 1600px){
	.thsn-header-style-2 .thsn-pre-header-wrapper > .container,
	.thsn-header-style-2 .thsn-header-wrapper > .container {
		margin: 0 80px;
	}
}